
  <!-- <div class="header" [@slideInOut]="paneType" (scroll)="onScroll($event)"> -->
    <head>
      <title>Finding perfect roommates/room in Singapore!</title>
      <meta name="description" content="Roomer is a platform for people to look for rental rooms or co-living buddies in Singapore">
    </head>
    <div class="header">
    <h1>Find your perfect home with ideal buddies</h1>
    <video autoplay muted loop id="myVideo">
      <source src="./../../assets/videos/Roomer_homepage_video.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </div>
